ion-header {
  background: linear-gradient(to right, #0B0F19, #172034);
  color: white;
}
.content-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  img {
    width: 100%;
    height: 100%;
  }
  z-index: 0;

}
.release {
  position: absolute;
  left: 0; right: 0;
  bottom: 20px;
  width: 90%;
  height: 2.5rem;
  border-radius: 2.5rem;
  background: #4F98C7;
  color: white;
  text-align: center;
  line-height: 2.5rem;
  margin: 3rem auto 1rem;
}
.title {
  //color: white;
  margin: 0 20px;
}
ion-item {
  --color: #121E2A;
  --border-color: #121E2A;
  --border-width: 0 0 .55px;
  --border-style: solid;
  --padding-start: 0;
  --padding-end: 0;
}
ion-textarea {
  --color: white;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 2px;
  --padding-bottom: 0;
}
.video {
  margin: 10px 20px;
  position: relative;
  display: flex;
  .check {
    position: relative;
    width: 128px;
    height: 160px;
    img {
      object-fit: cover;
      width: 128px;
      height: 160px;
      border-radius: 10px;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: black;
      background: white;
      border-radius: 40px;
      width: 60px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
  }
}
ion-button {
  --background: #23375d;
  --border-radius: 5px;
  --color: white;
}
