<ion-menu side="start" menuId="first">
    <ion-header>
        <div style="width: 1rem;height: 2rem"></div>
        <!--<ion-toolbar color="primary">-->
        <!--<ion-title>菜单</ion-title>-->
        <!--</ion-toolbar>-->
    </ion-header>
    <ion-content>
        <ion-list>

            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/rank.png">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>排行榜</ion-label>
                <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/rank.png">排行榜</ion-button>-->
            </ion-item>

            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/support.png">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>我的支持</ion-label>
                <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/support.png">我的支持</ion-button>-->
            </ion-item>

            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/help.png">
                <ion-label>攻略论坛</ion-label>
            </ion-item>
            <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/support.png">我的支持</ion-button>-->


            <ion-item (click)="goNote()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/tip.png">
                <ion-label>便签墙</ion-label>
            </ion-item>
            <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/tip.png">便签墙</ion-button>-->


            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/market.png">
                <ion-label>兼职市场</ion-label>
            </ion-item>
            <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/market.png">兼职市场</ion-button>-->


            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/pic.png">
                <ion-label>美颜模板</ion-label>
            </ion-item>
            <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/pic.png">美颜模板</ion-button>-->


            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/near.png">
                <ion-label>附近的人</ion-label>
            </ion-item>
            <!--<ion-button style="color: black;" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/near.png">附近的人</ion-button>-->


            <ion-item (click)="noSupport()">
                <img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/wlt.png">
                <ion-label>我的钱包</ion-label>
            </ion-item>
            <!--<ion-button style="color: black;display: flex;justify-content: flex-start" expand="full" fill="clear" [routerLink]="['/home']"><img style="width: 2rem;margin-right: 0.5rem" src="assets/icon/wlt.png">我的钱包</ion-button>-->


        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet main>

    <ion-content>

        <div style="position: fixed; top: 1rem; left: 1rem; z-index: 999">
            <ion-icon style="font-size: 2rem;color: white" name="menu" (click)="openFirst()"></ion-icon>
        </div>

        <div style="position: fixed; top: 1rem; right: 1rem; z-index: 999">
            <img src="assets/icon/search.png" alt="" style="width: 2rem;height: 2rem" (click)="goSearch()">
        </div>

        <!--<div *ngIf="inner" [innerHTML]="inner"></div>-->

        <!--<ion-slides #slidesRef *ngIf="!(remoteVideoSourceArr.length > 0)" pager="true" [options]="slideOpts" style="height: 100vh"-->
                    <!--(ionSlideNextEnd)="sldnxt($event)"-->
                    <!--(ionSlidePrevEnd)="sldpre($event)"-->
                    <!--(ionSlideReachStart)="reFreshSlides()"-->
                    <!--(ionSlideReachEnd)="appendSlide()"-->
                    <!--(ionSlideTransitionStart)="prevTestTheFirst($event)"-->
                    <!--(ionSlideTouchStart)="consoleEvent($event)"-->
                    <!--(ionSlideTouchEnd)="consoleEvent($event)"-->
        <!--&gt;-->

            <!--<ion-slide>-->

                <!--<div>-->
                    <!--<div style="width: 100vw;height: 100vh;">-->
                        <!--<vg-player>-->
                            <!--<vg-overlay-play></vg-overlay-play>-->
                            <!--<vg-buffering></vg-buffering>-->

                            <!--<video #media [vgMedia]="media" src="assets/video/demo.mp4" autoplay></video>-->
                        <!--</vg-player>-->
                    <!--</div>-->

                    <!--<div style="position: absolute;z-index: 999;bottom: 5rem;left: 0;display: flex;flex-direction: column;align-items: flex-start;">-->
                        <!--<div style="margin-left: 1rem">-->
                            <!--<ion-label style="color: white">{{'@anshi'}}</ion-label>-->
                        <!--</div>-->

                        <!--<div style="margin-left: 1rem;opacity: 0.9;margin-top: 0.5rem">-->
                            <!--<div style="color: white;">{{'default'}}</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div style="position: absolute;z-index: 999;top: 25rem;right: 0">-->
                        <!--<div style="display: flex;flex-direction: column;margin-right: 1rem">-->
                            <!--<div>-->
                                <!--<ion-icon name="heart" style="font-size: 3rem;color: red"></ion-icon>-->
                            <!--</div>-->

                            <!--<div style="margin-top: 0.5rem;">-->
                                <!--<ion-icon name="quote" style="font-size: 3rem;color: white"></ion-icon>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</ion-slide>-->

        <!--</ion-slides>-->
        <ion-slides #slidesRef *ngIf="remoteVideoSourceArr" pager="true" [options]="slideOpts" style="height: 100vh"
                    (ionSlideNextEnd)="sldnxt($event)"
                    (ionSlidePrevEnd)="sldpre($event)"
                    (ionSlideReachStart)="reFreshSlides()"
                    (ionSlideReachEnd)="appendSlide()"
                    (ionSlideTransitionStart)="prevTestTheFirst($event)"
                    (ionSlideTouchStart)="consoleEvent($event)"
                    (ionSlideTouchEnd)="consoleEvent($event)"
        >

            <ion-slide *ngFor="let item of remoteVideoSourceArr">

                <div *ngIf="cur == item.playId">
                    <div style="width: 100vw;height: 100vh;">
                        <vg-player (onPlayerReady)="onPlayerReady($event, item)">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>
                            <!--<vg-controls [vgAutohide]="true" [vgAutohideTime]="5">-->
                            <!--<vg-play-pause></vg-play-pause>-->
                            <!--<vg-time-display [vgProperty]="'current'"></vg-time-display>-->
                            <!--<vg-scrub-bar>-->
                            <!--<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>-->
                            <!--<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
                            <!--</vg-scrub-bar>-->
                            <!--<vg-time-display [vgProperty]="'total'"></vg-time-display>-->
                            <!--<vg-fullscreen></vg-fullscreen>-->
                            <!--</vg-controls>-->
                            <video #media (play)="curPlay(item)" [vgMedia]="media" src="{{storageBaseUrl + item.path}}"
                                   poster="{{storageBaseUrl + item.poster}}" autoplay></video>
                        </vg-player>
                    </div>

                    <div style="position: absolute;z-index: 999;bottom: 4.5rem;left: 0;display: flex;flex-direction: column;align-items: flex-start;">
                        <div style="margin-left: 1rem">
                            <ion-label style="color: white" *ngIf="sourceUserProfile"
                                       (click)="goUserProfile(item['user_id'])">{{'@' + sourceUserProfile['name']}}
                            </ion-label>
                        </div>

                        <div style="margin-left: 1rem;opacity: 0.9;margin-top: 0.5rem">
                            <div style="color: white;">{{item['title']}}</div>
                        </div>

                        <div style="margin-top: 1rem;margin-left: 1rem;display: flex;align-items: center">
                            <div class="reco" (click)="showComment(item)">留下你的评论吧！</div>

                            <!--<ion-input style="border: white solid 0.2rem"></ion-input>-->

                            <div class="three-icon">
                                <div class="item-icon">
                                    <img src="assets/icon/heart1.png" alt="" style="width: 1.5rem;height: 1.5rem">
                                    <div style="color: white;opacity: 0.8;">{{thumbs}}</div>
                                </div>
                                <div style="display: flex;align-items: center;margin-right: 0.5rem">
                                    <img src="assets/icon/comment.png" alt="" style="width: 1.5rem;height: 1.5rem" (click)="showComment(item)">
                                    <!--<div style="color: white;opacity: 0.8;">10</div>-->
                                </div>
                                <div style="display: flex;align-items: center;margin-right: 0.5rem">
                                    <img src="assets/icon/share1.png" alt="" style="width: 1.5rem;height: 1.5rem" (click)="noSupport()">
                                    <!--<div style="color: white;opacity: 0.8;">10</div>-->
                                </div>
                            </div>


                        </div>
                    </div>

                    <div style="position: absolute;z-index: 999;bottom: 13rem;right: 0">
                        <div style="display: flex;flex-direction: column;margin-right: 1rem">
                            <div >
                                <img style="height: 4rem;width: 4rem" *ngIf="!like" (click)="isLike(item)" src="assets/icon/heart2.png">
                                <ion-icon class="heartBeat" *ngIf="like" name="heart" style="font-size: 4rem;color: red"
                                          (click)="isLike(item)"></ion-icon>
                                <!--<ion-icon *ngIf="!like" name="heart" style="font-size: 3rem;color: white"-->
                                          <!--(click)="isLike(item)"></ion-icon>-->
                            </div>

                            <!--<div style="margin-top: 0.5rem;">-->
                                <!--<ion-icon name="quote" style="font-size: 3rem;color: white"-->
                                          <!--(click)="showComment(item)"></ion-icon>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

            </ion-slide>
        </ion-slides>

        <!--<div *ngIf="isComment"-->
             <!--style="position: absolute;bottom: 0;z-index: 300;height: 75vh;width: 100vw;background-color:#fff;transition: height 2s linear 0">-->
            <!--&lt;!&ndash;<button (click)="hiddenComment()">x</button>&ndash;&gt;-->
            <!--<div style="width: 100vw;display: flex;justify-content: flex-end">-->
                <!--<ion-icon name="close" style="color: black;font-size: 1.5rem;margin: 1rem"-->
                          <!--(click)="hiddenComment()"></ion-icon>-->
            <!--</div>-->
            <!--<ion-item>-->
                <!--&lt;!&ndash;<ion-label position="floating">评论</ion-label>&ndash;&gt;-->
                <!--<ion-input type="text" [(ngModel)]="commentContext" name="commentContext"-->
                           <!--[placeholder]="'写下你的评论吧'"></ion-input>-->
                <!--<ion-button shape="round" (click)="sendComment()">发布</ion-button>-->
            <!--</ion-item>-->
            <!--<ion-list *ngIf="commentList" style="height: 60vh;overflow: scroll">-->
                <!--<ion-item *ngFor="let comment of commentList">-->

                    <!--<div>-->
                        <!--<div (click)="goUserProfile(comment['user_id'])" style="display: flex">-->
                            <!--&lt;!&ndash;<ion-avatar>&ndash;&gt;-->
                            <!--<img style="width: 2rem;height: 2rem;object-fit: cover;border-radius: 50%"-->
                                 <!--src="{{(comment['user_profile']['avatar'] && comment['user_profile']['avatar'] == 'default.jpg' ? 'assets/shapes.svg' : storageBaseUrl + comment['user_profile']['avatar'])}}">-->
                            <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->
                            <!--<ion-text style="margin: 0.5rem;color: gray">{{comment['user_profile']['name']}}：</ion-text>-->
                        <!--</div>-->

                        <!--<ion-text style="color: black">{{comment['content']}}</ion-text>-->
                    <!--</div>-->

                <!--</ion-item>-->
            <!--</ion-list>-->
        <!--</div>-->

        <div class="comment-box {{isComment ? 'comment-show':''}}">
            <div class="comment-s" [ngClass]="isComment ? 'comment-s-show':''" >
                <div class="input-box">
                    <div class="head">
                        <img src="assets/shapes.svg" alt="">
                    </div>
                    <div class="input">
                        <input type="text" [(ngModel)]="commentContext" (keydown)="closeSel($event)" placeholder="写下你的评论吧">
                    </div>
                    <div class="close" *ngIf="!closeBool">
                        <ion-icon name="close" (click)="hiddenComment($event)"></ion-icon>
                    </div>
                    <div class="fabu" *ngIf="closeBool" (click)="sendComment()">
                        发布
                    </div>
                </div>
                <div class="list-box">
                    <div class="list" *ngFor="let comment of commentList">
                        <div class="left">
                            <img (click)="goUserProfile(comment['user_id'])" src="{{(comment['user_profile']['avatar'] && comment['user_profile']['avatar'] == 'default.jpg' ? 'assets/shapes.svg' : storageBaseUrl + comment['user_profile']['avatar'])}}" alt="">
                        </div>
                        <div class="right">
                            <div class="name">
                                @{{comment['user_profile']['name']}}：
                            </div>
                            <div class="content">
                                {{comment['content']}}
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        
        



        <!--<div style="position: fixed;z-index: 99;right: 0;top: 25rem;">-->
        <!--<div style="display: flex;flex-direction: column;margin-right: 1rem">-->
        <!--<div>-->
        <!--<ion-icon *ngIf="like" name="heart" style="font-size: 3rem;color: red" (click)="isLike()"></ion-icon>-->
        <!--<ion-icon *ngIf="!like" name="heart" style="font-size: 3rem;color: white" (click)="isLike()"></ion-icon>-->
        <!--</div>-->

        <!--<div style="margin-top: 0.5rem;">-->
        <!--<ion-icon name="quote" style="font-size: 3rem;color: white" (click)="showComment()"></ion-icon>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<button  style="position: fixed; bottom: 100px;z-index: 99" (click)="startvideo($event)">last</button>-->

        <div style="position: fixed; bottom: 5px;z-index: 8;">

            <div style="display: flex;justify-content: space-around;align-items: center; width: 100vw; height: 50px; border-top: 0.1rem solid white;">

                <div (click)="goIndex()" style="color: white">首页</div>

                <ion-icon name="add-circle-outline" (click)="goPublish()"
                          style="color: white;font-size: 2rem;"></ion-icon>

                <!--<ion-button ></ion-button>-->

                <div (click)="goMine()" style="color: white">我的</div>

            </div>

        </div>

        <div *ngIf="heartbeat" style="position: fixed;bottom: 8rem;right: 0;z-index: 99">
            <!--<div class="heartBeat" style="font-size: 3rem;color: red">心 动</div>-->
            <img style="width: 8rem" class="heartBeat" src="assets/beatheart.png">
        </div>

        <div class="heartBeat" *ngIf="confession" style="position: fixed;bottom: 8rem;right: 0; z-index: 99">
            <!--<div style="font-size: 3rem;color: red">表 白</div>-->
            <img style="width: 8rem" class="heartBeat" src="assets/confession.png">
        </div>

    </ion-content>
</ion-router-outlet>

