<ion-header>
    <ion-toolbar mode="ios" color="header">
        <ion-buttons slot="start">
            <ion-back-button text=" "></ion-back-button>
        </ion-buttons>
        <ion-title>注册</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--<div style="padding: 1rem">-->

        <!--&lt;!&ndash;<div style="width: 100%; text-align: center;margin:1.5rem 0 4.5rem;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="assets/shapes.svg" alt="" style="height: 6rem">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div>-->

            <!--<ion-item>-->
                <!--<ion-label position="floating">用户名</ion-label>-->
                <!--<ion-input type="text" [(ngModel)]="name" name="name"></ion-input>-->
            <!--</ion-item>-->

            <!--<ion-item>-->
                <!--<ion-label position="floating">邮箱</ion-label>-->
                <!--<ion-input type="text" [(ngModel)]="email" name="email"></ion-input>-->
            <!--</ion-item>-->

            <!--<ion-item>-->
                <!--<ion-label position="floating">密码</ion-label>-->
                <!--<ion-input type="password" [(ngModel)]="password" name="password"></ion-input>-->
            <!--</ion-item>-->

            <!--<ion-item>-->
                <!--<ion-label position="floating">确认密码</ion-label>-->
                <!--<ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>-->
            <!--</ion-item>-->

            <!--<div style="display: flex;flex-direction: row;justify-content: center;align-items: center; margin-top: 2rem">-->
                <!--<ion-checkbox [(ngModel)]="portocolStatu"></ion-checkbox><a (click)="goUserPortocol()">用户协议</a>-->
            <!--</div>-->



            <!--<ion-button style="margin-top: 2rem;" expand="block" (click)="register()">注册</ion-button>-->


        <!--</div>-->
    <!--</div>-->

    <div class="block">
        <div class="content-logo register-logo">
            <img src="./assets/img/login-logo.png" alt="">
        </div>
        <div class="content-register" >

            <div class="user">
                <input type="text" [(ngModel)]="name" placeholder="用户名">
            </div>
            <div class="user">
                <input type="text" [(ngModel)]="email" placeholder="邮箱">
            </div>
            <div class="user">
                <input type="password" [(ngModel)]="password" placeholder="密码">
            </div>
            <div class="user">
                <input type="password" [(ngModel)]="confirmPassword" placeholder="确认密码">
            </div>

            <div class="content-btm">
                <div class="btm-protocol">
                    <ion-checkbox [(ngModel)]="portocolStatu"></ion-checkbox>
                    <span class="protocol" (click)="goUserPortocol()">用户协议</span>
                </div>
            </div>

            <div class="login-btn2" (click)="register()">注册</div>
            <div class="content-btm content-btm-c">
                <div (click)="goLogin()">已有账号去登录</div>
            </div>
        </div>
    </div>

    <img *ngIf="loading" style="width: 100vw;height: 100vh;object-fit: cover;z-index: 999;position: fixed;top: 0" src="assets/lunch2.png">
</ion-content>
